<h2>Виды обучения</h2>
{{#if educations.length}}
<ul>
  {{#each educations}}
  {{{educations}}}
    <li class = "container-data">
      <span class = "data"><b class = "text">Вид обучения:</b> {{NameOfEducation}}</span>
      <span class = "data"><b class = "text">Цена:</b> {{this.Price}}</span>
        <div class = "crud-button">
          <a href = "/education/edit" class = "btn btn-small">Редактировать</a>
          <a href = "/education/delete/{{_id}}" class = "btn btn-small">Удалить</a>
          <a href = "/education/details/{{_id}}" class = "btn btn-small">Детали</a>
        </div>
    </li>
  {{/each}}
</ul>
{{else}}
<p>Не добавлено новых видов обучения</p>
{{/if}}