<h2>Вид обучения</h2>
<hr>
<div class = "container-data">
    <span class = "data"><b class = "text">Фамилия: </b> {{teacher.LastName}}</span>
    <span class = "data"><b class = "text">Имя: </b> {{teacher.FirstName}}</span>
    <span class = "data"><b class = "text">Отчество: </b> {{teacher.MiddleName}}</span>
    <span class = "data"><b class = "text">Возраст: </b> {{teacher.Age}}</span>
    <span class = "data"><b class = "text">Должность: </b> {{teacher.Post}}</span>
    <span class = "data"><b class = "text">Специальность: </b> {{teacher.Specialization}}</span>
   <div class = "crud-button">
      <a href = "/teachers" class = "btn btn-small">Вернуться к списку</a>
    </div>
</div>